/**
 * New Orangespot Style
 * Using bootstrap
 * By d_anank
 */

body {
	color: #333333;
	background-color: #FAFAFA;
	margin: 0px;
	padding: 20px;
}
#docAll {
	margin: 50px auto 0px auto;
	border: 1px dotted #DDDDDD;
	color: #666666;
	cursor: default;
	background-color: #FFFFFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 8px #D0D0D0;
	-moz-box-shadow: 0 1px 8px #D0D0D0;
	box-shadow: 0 1px 8px #D0D0D0;
}
#docAll #atas {
	height: 85px;
	background: url(orangespot_logo.gif) no-repeat 210px bottom;
}
#docAll #atas #userlink{
	padding: 20px 12px 0 0;
}
#docAll #atas #userlink *{
	font-size: 12px;
	/*line-height: 12px;*/
}
#docAll #menu{
	padding:10px 5px 0 0;
}
#docAll #menu a {
	color: #545454;
	font-weight: bold;
}
#docAll #menu a:hover, #docAll #menu .active a {
	color: #FF6E1C;
}
#docAll #menu a:hover {
	border-bottom: 1px solid #FF7E1E;
}
#docAll #leftmenu {
	background: url(line.gif) no-repeat right center;
	min-height: 400px;
}
#docAll #leftmenu a {
	color: #D75B00;
}
#docAll #leftmenu a:hover{
	/*color: #FF9F07;*/
	font-weight: bold;
}
#docAll #isi .thumbnail{
	height: 150px;
}
#docAll #copyright {
	color: #887673;
	font-size: 10px;
	font-weight: bold;
	text-align: right;
}